{% extends "baseadmin.html.twig" %}

{% block title %}Commentaires - {{ parent() }}{% endblock %}

{% block content %}
    <section id="article-edit">
        <div class="container">
            <div class="text-center mb-5">
                <a class="" href="?action=admin"><i class="fas fa-arrow-left mr-2"></i>Retour à la liste</a>
            </div>
            <div class="text-center pb-5">
                <h1>Commentaires de l'article</h1>
                <h2>Mon article 1 {{ post.title }}</h2>
            </div>
            <h3 class="pt-5"><i class="fas fa-envelope mr-2"></i>Non lus (3)</h3>
            <table class="table table-striped mb-5 comments">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Commentaire</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="comment">
                                <p class="font-weight-bold">Jean-charles Bedouin <small class="text-muted ml-2">posté le 24 février 2020 à 15h14</small></p>
                                <p>Bravo pour cet article !</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="#"><i class="fas fa-check" style="color: green;"></i></a>
                            <a href="#"><i class="fas fa-times" style="color: red;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="comment">
                                <p class="font-weight-bold">Jean-charles Bedouin <small class="text-muted ml-2">posté le 24 février 2020 à 15h14</small></p>
                                <p>Bravo pour cet article !</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="#"><i class="fas fa-check" style="color: green;"></i></a>
                            <a href="#"><i class="fas fa-times" style="color: red;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="pt-5"><i class="fas fa-envelope-open-text mr-3"></i>Lus (10)</h3>
            <table class="table table-striped mb-5 comments">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Commentaire</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="comment">
                                <p class="font-weight-bold">Jean-charles Bedouin <small class="text-muted ml-2">posté le 24 février 2020 à 15h14</small></p>
                                <p>Bravo pour cet article !</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="#"><i class="fas fa-check" style="color: green;"></i></a>
                            <a href="#"><i class="fas fa-times" style="color: red;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="comment">
                                <p class="font-weight-bold">Jean-charles Bedouin <small class="text-muted ml-2">posté le 24 février 2020 à 15h14</small></p>
                                <p>Bravo pour cet article !</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="#"><i class="fas fa-check" style="color: green;"></i></a>
                            <a href="#"><i class="fas fa-times" style="color: red;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}