{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/homepage/homepage.css">
{% endblock %}

{% block content %}

    <section id="home" class="color-white">
        <div class="container">
            <div class="text-center">
                <img src="img/avatar.png" alt="avatar">
                <h1 class="font-weight-bold">&lt;!&#45;&#45; Développeur front-end / back-end --></h1>
            </div>
        </div>
    </section>

    <section id="about" class="color-black">
        <div class="text-center">
            
            <h1 class="text-center">A propos</h1>
            <div class="text-about text-center">
                <p>Bonjour! Moi c'est Mathieu et j'ai 29 ans. Je vis à Marseille et suis actuellement en alternance chez <a href="https://internethic.com/" target="_blank">Internethic</a> pour la formation Développeur back end PHP Symfony proposée par <a href="https://openclassrooms.com/" target="_blank">OpenClassrooms</a></p>
        
                <p>J'ai également obtenu une certification RNCP de niveau 3 en techniques d'intégration et de développement web chez <a href="https://www.wf3.fr/" target="_blank">WebForce3</a> et plusieurs autres sur la plateforme OpenClassrooms. Voir mon CV pour plus d'informations à mon propos. 😎</p>
            </div>
            <div class="text-center">
                <a href="/docs/CV_mathieu_delclos_ALTERNANCE.pdf" download="CV_MathieuD">
                    <button class="button-link"><i class="fas fa-download mr-2"></i>Télécharger mon CV</button>
                </a>
            </div>
        </div>
    </section>

    <section id="last-articles">
        <div class="container">
            <h1 class="text-center mb-5">Derniers articles</h1>
            <div class="articles mb-5">
                <div class="article bg-white mb-3">
                    <div class="article-body">
                        <h2 class="article-header article-title font-weight-bold mt-5 ml-4">Dark title</h2>
                        <small class="text-muted ml-4"><i class="far fa-clock mr-2 mb-5"></i>Date de création ou de modification</small>
                        <div class="article-content">
                            <img src="http://placekitten.com/g/200/200" class="mr-3" alt="">
                            <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque necessitatibus vel nostrum tenetur provident pariatur, odit tempore facilis nam totam incidunt harum, distinctio qui architecto, neque a recusandae aut. Beatae distinctio autem commodi, atque nulla, omnis quod quibusdam odit iure repellendus iusto reprehenderit molestiae doloribus officia at quisquam tempore.</p>
                        </div>
                        <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="article bg-white mb-3">
                    <div class="article-body">
                        <h2 class="article-header article-title font-weight-bold mt-5 ml-4">Dark title</h2>
                        <small class="text-muted ml-4"><i class="far fa-clock mr-2 mb-5"></i>Date de création ou de modification</small>
                        <div class="article-content">
                            <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque necessitatibus vel nostrum tenetur provident pariatur, odit tempore facilis nam totam incidunt harum, distinctio qui architecto, neque a recusandae aut. Beatae distinctio autem commodi, atque nulla, omnis quod quibusdam odit iure repellendus iusto reprehenderit molestiae doloribus officia at quisquam tempore.</p>
                        </div>
                        <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="article bg-white mb-3">
                    <div class="article-body">
                        <h2 class="article-header article-title font-weight-bold mt-5 ml-4">Dark title</h2>
                        <small class="text-muted ml-4"><i class="far fa-clock mr-2 mb-5"></i>Date de création ou de modification</small>
                        <div class="article-content">
                            <img src="http://placekitten.com/g/200/200" class="mr-3" alt="">
                            <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque necessitatibus vel nostrum tenetur provident pariatur, odit tempore facilis nam totam incidunt harum, distinctio qui architecto, neque a recusandae aut. Beatae distinctio autem commodi, atque nulla, omnis quod quibusdam odit iure repellendus iusto reprehenderit molestiae doloribus officia at quisquam tempore.</p>
                        </div>
                        <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="?action=blog">
                    <button class="button-link">Voir tous les articles</button>
                </a>
            </div>
        </div>
    </section>

    <section id="contact" class="color-white">
        <div class="container">
            <h1 class="text-center mb-5">Me contacter</h1>

            <form action="" method="post">
                <div class="form-group">
                    <label for="lastname" hidden>Nom:</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Entrez votre nom" />
                </div>
                <div class="form-group">
                    <label for="firstname" hidden>Prénom:</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Entrez votre prénom" />
                </div>
                <div class="form-group">
                    <label for="email" hidden >Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Entrez votre email" />
                </div>
                <div class="form-group">
                    <label for="message" hidden>Message:</label>
                    <textarea type="text" class="form-control" name="message" id="message" placeholder="Tapez votre message" rows="10"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="button-link w-100">Envoyer</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
