{% extends "base.min.html.twig" %}

{% block title %}404 - {{ parent() }}{% endblock %}

{% block content %}

    <section id="home" class="color-blue bg-blue py-5">
        <div class="container text-center py-5">
            <div class="jumbotron py-5">
                <h1 class="display-1">404</h1>
                <p class="lead display-4">Cette ressource n'existe pas!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/" role="button">Retour à l'accueil</a>
                <a class="btn btn-warning btn-lg" href="/blog" role="button">Blog</a>
            </div>
        </div>
    </section>

{% endblock %}
