/* ARTICLES */

.articles {
    display: flex;
    flex-direction: column;
}

.article {
    justify-content: center;
    border-bottom: lightgrey 1px solid;
    padding-bottom: 15px;
}

.articles .article-content img {
    float: left;
}

.articles .article-content img p {
    clear: both;
}

.article-body h2 {
    font-size: 3rem;
}