/* ARTICLES */
.articles {
  display: flex;
  flex-direction: column;
}

.articles .article-content img {
  float: left;
  max-width: 450px;
}

.articles .article-content img p {
  clear: both;
}

.article {
  justify-content: center;
  border-bottom: lightgrey 1px solid;
  padding-bottom: 15px;
}

.article-body h2 {
  font-size: 3rem;
}

section#last-articles {
  height: initial;
}
