{% extends "base.html.twig" %}

{% block title %}Blog - {{ parent() }}{% endblock %}

{% block content %}

    <section id="blog">
        <h1>Tous les articles</h1>

        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="card bg-white mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Lire l'article<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </section>
    
{% endblock %}


