table {
    font-size: 1.8rem;
  }
  
table tbody {
  font-size: 1.6rem;
}

table.comments tbody td i {
  width: 15px;
  height: 10px;
}

table.comments td.actions {
  display: flex;
  justify-content: center;
}

.table td.actions {
  padding-bottom: 60px;
}

.img-fluid.img-thumbnail {
  width: 100px;
}

a {
  font-size: 1.4rem;
}

.red {
  color: red;
}