<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Administration blog{% endblock %}</title>
    {% endblock %}
    
    {% block stylesheets %} 
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/variables.css">
        <link rel="stylesheet" href="css/admin/admin.css"> 
        <link rel="icon" href="img/avatar.png" type="image/png" />
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand m-auto" href="/">Blog - administration</a>
        </nav>  
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="\js\main.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/6627e4919c.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>