<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}blog PHP{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Blog de Mathieu Delclos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">A propos<i class="fas fa-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Derniers articles<i class="fas fa-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact<i class="fas fa-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?action=blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            <div class="navbar-dark bg-dark">
                <div class="text-center">
                    <small class="navbar-brand" href="/">&copy;Copyright 2020</small>
                </div>
            </div>
        {% endblock %}
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>